@model DoAnCoSo.Data.Lophoc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lophoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Malop" />
            <div class="form-group">
                <label asp-for="Makh" class="control-label"></label>
                <select asp-for="Makh" class="form-control" asp-items="ViewBag.Makh"></select>
                <span asp-validation-for="Makh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenlop" class="control-label"></label>
                <input asp-for="Tenlop" class="form-control" />
                <span asp-validation-for="Tenlop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tgtao" class="control-label"></label>
                <input asp-for="Tgtao" class="form-control" />
                <span asp-validation-for="Tgtao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaynhaphoc" class="control-label"></label>
                <input asp-for="Ngaynhaphoc" class="form-control" />
                <span asp-validation-for="Ngaynhaphoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayketthuc" class="control-label"></label>
                <input asp-for="Ngayketthuc" class="form-control" />
                <span asp-validation-for="Ngayketthuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
