@model QLTTAN.Data.Taikhoan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Taikhoan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mahv" class="control-label"></label>
                <select asp-for="Mahv" class ="form-control" asp-items="ViewBag.Mahv"></select>
            </div>
            <div class="form-group">
                <label asp-for="Manv" class="control-label"></label>
                <select asp-for="Manv" class ="form-control" asp-items="ViewBag.Manv"></select>
            </div>
            <div class="form-group">
                <label asp-for="Magv" class="control-label"></label>
                <select asp-for="Magv" class ="form-control" asp-items="ViewBag.Magv"></select>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loaiuser" class="control-label"></label>
                <input asp-for="Loaiuser" class="form-control" />
                <span asp-validation-for="Loaiuser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
